
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}


h2 {
	color: #fff;
	text-align: center;
}

.title {
	color: grey;
	font-weight: bold;

}
.list {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}
.list-item {
	color: whitesmoke;
	font-family: 'Press Start 2P', cursive;
	float: left;
	  width: 16.66%;

}

.navbar {
	width: 100%;
	padding: 15px 10px 30px 10px;
	border-bottom: black;
	z-index: 100;
	background-color: lightgray;

}

.slidercontainer {
	margin-top: 100px;
	height: 100%;
	/* padding: 20px 40px 20px 40px; */
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	position: relative;
}




.caption {
	text-align: center;
}

.parentbox{
		width: 98%;
		height: 900px;
		margin: 0;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
		margin-top: 50px;
		background-size: 100% 100% ;
		background-image: url(https://cdn140.picsart.com/264629097012212.png);
}
.childbox{
		height: 400px;
		top: 50%;
		left: 50%;
		padding: 30px 40px;
		text-align: center;

}


.youthTitle {
	margin-top: 130px;
	text-align: center;
	color: whitesmoke;
	text-shadow: 2px 2px grey;
	z-index: 100;
	top: 40%;
	left: 50%;
}

.subtitle{
	margin-top: 20px;
	font-weight: bold;
	font-size: 16px;

	color: grey;
	font-family: monospace;

}

.intro{
	font-size: 15px;
	line-height: 2.2em;
	margin: 150px 100px 150px 100px;
	margin-top: 40px;
	padding: 20px, 40px, 20px, 20px;
	font-family: monospace;
}

.redtext{
	color: pink;
	font-weight: bold;
	margin-bottom: 20px;
}

.retro{
	text-shadow: 1px 1px lightpink;
}




.join{
	margin-top: 60px;
	text-align: center;
	color: whitesmoke;
	text-shadow: 2px 2px grey;

}


.secondtext{
	justify-content: center;
	margin: 150px 100px 150px 100px;
	margin-top: 50px;
	text-align: center;

}
.about{
	margin-top: 60px;
	text-align: center;
	border: 10px;
}

.aboutinfo{
	justify-content: center;
	margin: 150px 100px 150px 100px;
	margin-top: 50px;
	text-align: center;

}
.parentbox2{
	width: auto;
	height: 200px;
	background-size: cover;
	background-color: lightsteelblue;
	opacity: 0.6px;
}
.button{

		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin:auto;
		display:block;

	  }


.anotherimage{
	margin-top: 100px;
	height: 100%;


}

.errormessage{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-top: 50px;
	width: 50%;
}





  
.join{
	margin-top: 60px;
	text-align: center;
	color: whitesmoke;
	text-shadow: 2px 2px grey;

}


.secondtext{
	justify-content: center;
	margin: 150px 100px 150px 100px;
	margin-top: 50px;
	line-height: 2.2em;
	color: whitesmoke;
	font-family: monospace;

}

/* about page */

.breakfastClub{
	margin-top: 60px;
	height: 100%;
	/* padding: 20px 40px 20px 40px; */
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	position: relative;
}

.div{
	margin-top: 50px;
		background-size: 50% 50% auto ;
		background-image: url("Error\ Message.png");
		width: 100%;
		height: 400px;
		line-height: 2.0em;
}

.How{
	margin-top: 50px;
	text-align: center;
	border: 10px;
	text-align: center;
	color: whitesmoke;
	text-shadow: 2px 2px grey;
	filter: blur(0px);
	background: lightblue;
	background-size: auto;
}

.aboutinfo{
	justify-content: center;
	text-align: center;
	margin: 150px 100px 150px 100px;
	margin-top: 50px;
	font-family: monospace;
	background: white;
	font-weight: bolder;
	
}

.parentbox2{
	width: auto;
	height: 200px;
	background-size: cover; 
	background-color: lightsteelblue;
	opacity: 0.6px;
}



.anotherimage{
	margin-top: 100px;
	height: 100%;
	min-width: 50%;
	max-width: 80%;
	
	
}




/* Meet the team */

.row{
	margin-top: 100px;
}

.meetTheTeam{
	margin-top: 130px;
	margin-bottom: 100px;
	text-align: center;
	color: lightblue;
	font-size: 30px;
	text-shadow: 2px 2px grey;
	z-index: 100;
	top: 40%;
	left: 50%;
	background-color: whitesmoke;

}

.h2{
	color: black;

}

.column {
	float: left;
	width: 33.3%;
	margin-bottom: 60px;
	padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
	.column {
	  width: 100%;
	  display: block;
	}
  }
  
  
  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  
  .container {
	padding: 0 16px;
	font-weight: bold;
  }

  .container::after, .row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .Teamtitle {
	color: grey;
	line-height: 2em;
	font-size: 18px;
  }
  
  .button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
  }
  
  .button:hover {
	background-color: #555;
  }
  .Mickey{
	min-height: 30%;
	max-height: 50% ;
  }

  .footer {

	position: fixed;
	
	left: 0;
  	bottom: 0;
	width: 100%;
	background-color:lightblue;
	color: white;
	text-align: center
}

.cookies{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:lightblue;
	color: white;
	text-align: center
}




.button{

		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin:auto;
		display:block;

	  }


.anotherimage{
	margin-top: 100px;
	height: 100%;


}

.errormessage{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-top: 50px;
	width: 50%;
}





.bodyb{
  margin:0;
  padding:0;
  background-size: cover;
background:url(https://www.lefthudson.com/wp-content/uploads/2019/11/90s-wallpapers-fresh-retro-90s-background-google-search-ax-work-stuff-of-the-day-of-90s-wallpapers.jpg);
background-position: center;
}

.contact-form {
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: center;
  box-shadow: 0 0 0 12px pink;
  text-align: center;
  color: #b01973;
}

.subfont {
  font-family: 'Press Start 2P', cursive;

}

.contact-form h1 {
  margin-top: 0;
  font-weight: 200;
	font-family: 'Press Start 2P', cursive;
}

.txtb {
  border: 1px solid #b01973;
  margin: 8px 0;
  padding: 12px 18px;
}

.txtb label {
  display: block;
  text-align: left;
  color: #222;
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input, .txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.btn {
  display: block;
  background: pink;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  font-family: 'Work Sans', sans-serif;
}

input[type="text"] {
  font-family:'Work Sans', sans-serif;
  font-size: 15px;
}
